<html lang="en">
<head>
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
 <div class="page-wrapper bg-img-1 p-t-165 p-b-100">
   <div class="wrapper wrapper--w680">
      <div class="card card-1">
        <div class="card-body">
         <ul style="background:blue;" class="tab-list">
          <li style="left:25%;"  class="tab-list__item active">
                Add a question to answer it
        </li>
     </ul>
     <div class="tab-content">
        <div class="tab-pane active" id="tab3">
           <div id="app-qustion">
            <div class="input-group">
              <label class="label">origin:</label>
              <input v-model="input.answer" class="input--style-1" type="text" name="origin" placeholder="Add your question" required="required">
           </div>
            <button v-on:click="show_answer" class="btn-submit" type="submit">Answer</button>
          <div v-if="shhi" style="text-align:center;color:red">
              Please add a question in the field
         </div>
       <div style="color:red;" v-html="text_mass_not_question">   
    </div>
    <!-- interface modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">The answer is</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
           </div>
           <div class="modal-body" 
              v-html="show_answer_in_html">
       
           </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="js/global.js"></script>
    <script src="app.js"></script>

</body>
</html>
